/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
*/
/* Desktop Navigation Bar */
.desktop-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
  color: #fff;
  padding: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.desktop-nav .logo {
  font-size: 24px;
  text-decoration: none;
}

.desktop-nav .menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.desktop-nav .menu li {
  margin-right: 20px;
}

.desktop-nav .menu li:last-child {
  margin-right: 0;
}

.desktop-nav .menu li a {
  color: #fff;
  text-decoration: none;
}

/* Mobile Navigation Bar */
.mobile-nav {
  display: none;
}

.mobile-nav .icons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  background-color: transparent;
  color: #0096D5;
}

.mobile-nav .icons li a {
  color: #fff;
  text-decoration: none;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  
  .mobile-nav {
    display: block;
    z-index: 999;
  }
  
  .mobile-nav .icons li {
    flex: 1;
    text-align: center;
  }
  
  .mobile-nav .icons li a i {
    font-size: 24px;
  }
}

/****************
Mobile Desktop Nav
*****************/
.mobile-desktop-nav{
  background-color: #0096D5;
  color: #fff;
}

/* Modal header */
.modal-header {
  background-color: #007bff;
  color: #fff;
  border-bottom: none;
}

/* Modal title */
.modal-title {
  font-weight: 600;
}

/* Modal body */
.modal-body {
  padding: 1rem 2rem;
}

/* Form label */
.form-group label {
  font-weight: 500;
}

/* Custom file input */
.custom-file-label::after {
  content: "Browse";
}

/* Modal footer */
.modal-footer {
  border-top: none;
  padding: 1rem 2rem;
}

/* Cancel button */
.modal-footer .btn-secondary {
  background-color: #e9ecef;
  color: #000;
  border-color: #e9ecef;
}

/* Update button */
.modal-footer .btn-primary {
  background-color: #28a745;
  border-color: #28a745;
}

/* File input style */
.custom-file-input:lang(en)~.custom-file-label::after {
  content: "Browse";
}





